.main {
  margin-left: 5%;
  margin-right: 5%;
}

nav {
  background-color: #d25649;
  height: 120px;
}

.form-title {
  text-align: center;
}

.font{
  font-family: Roboto;
}

.flings {
  width: 70%;
  text-align: center;
}

form {
  background: #e6dcdc;
  margin-right: 4%;
  margin-left: 4%;
}

.light-r {
  position: absolute;
  width: 40%;
  text-align: center;
  padding-left: 15%;
}

.pink {
  margin-left: 20%;
}

.light_back {
  width: 75%;
}

.foot-txt {
  flex-direction: column;
  align-items: center;
}

.main-form {
  padding-top: 100px;
  background-image: url(./assests/apartment.jpg);
  background-size: cover;
  height: 20%;
}

.main-form .search_txt {
  height: 40px;
}

.main-form .search_but {
  background-color: #d25649;
  height: 40px;
}

.main-form .result-search {
  background-color: #00f;
  height: 25px;
  margin-top: 10px;
}

.main-form .result-clear {
  background-color: orange;
  height: 25px;
  margin-top: 10px;
}

.new-font {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .tab-bar {
    margin-left: 25%;
  }

  .end-foot {
    margin-right: 4%;
  }

  .light-r {
    width: 25%;
    padding-top: 12%;
    padding-left: 0;
  }

  .foot-txt {
    flex-direction: row;
  }

  .light_back {
    width: 90%;
    height: 250px;
    margin-top: 30px;
  }

  nav {
    height: 60px;
  }

  .main-form form {
    margin-right: 15%;
    margin-left: 15%;
  }

  .main-form .search_txt {
    width: 80%;
  }

  .main-form .search_but {
    width: 20%;
    background-color: #2fbceb;
  }

  .main-form .result-clear,
  .main-form .result-search {
    margin-top: 32px;
  }

  .pink {
    margin-left: 25px;
  }

  .flings {
    width: 45%;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .steps {
    padding-left: 25%;
  }

  .light-r {
    padding-top: 8%;
  }

  .tab-bar {
    margin-left: 13%;
  }

  .search_but {
    background-color: #d25649;
  }

  .steps1 {
    width: 30%;
  }

  .steps-apply,
  .steps-search {
    margin-right: 10%;
  }

  .app_search_img {
    float: right;
    clear: both;
    margin-right: 10%;
    width: 15%;
    height: 15%;
  }

  .ap {
    height: 250px;
  }

  .sec-text {
    padding-top: 5%;
    width: 30%;
    margin-left: 15%;
  }
}

.flingstone_details {
  box-shadow: 3px 1px 3px 1px #faebeb;
}

.click {
  background-color: #e6dcdc;
  height: 70px;
}

.works_but {
  background-color: #e6dcdc;
}

.how_but {
  text-align: center;
  margin: auto;
  display: block;
}

.steps-title {
  text-align: center;
  color: #d25649;
}

.app_fling {
  color: #d25649;
}

.apply_but {
  background-color: #00f;
  float: right;
  clear: both;
}

.cont {
  color: #00f;
}

.ap_search {
  background-color: #e27f65;
  text-align: center;
}

.ap_around {
  background-color: #98a5a6;
  text-align: center;
}

.around_but {
  color: #98a5a6;
}

.ap_search_but {
  color: #e27f65;
}

.ap_convenient {
  background-color: #519cd8;
  text-align: center;
}

footer .footer-links {
  font-size: 10px;
  margin-right: 8%;
  margin-left: 8%;
  border-bottom: 3px double gray;
}

footer .foot {
  text-align: center;
  width: 25%;
}

footer .foot-1 {
  background-color: #000;
}

footer .foot-2 {
  background-color: #242424;
  font-size: 12px;
  height: 70px;
  color: gray;
}

footer .foot-head {
  font-size: 13px;
}

footer .foot-par {
  font-size: 12px;
}

.map {
  margin: auto;
  display: block;
  width: 80%;
}

@media only screen and (max-width: 576px) {
  .dt-nav {
    display: none;
  }

  .foot-2,
  .pink {
    display: flex;
    flex-direction: column;
  }

  .contact_details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
