$main-color: orangered;
$transparent-color:  rgb(230, 220, 220);

nav {
  background-color: $main-color;
  height: 120px;
}

.form-title {
  text-align: center;
}

form {
  background: $transparent-color;
  border-radius: 10%;
  margin-right: 4%;
  margin-left: 4%;
}

.main-form {
  padding-top: 100px;
  background-image: url(../assests/apartment.jpg);
  background-size: cover;

  .search_txt {
    height: 40px;
  }

  .search_but {
    background-color: $main-color;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .tab-bar {
    margin-left: 25%;
  }

  nav {
    height: 60px;
  }

  .main-form {
    form {
      margin-right: 15%;
      margin-left: 15%;
    }

    .search_txt {
      width: 80%;
    }

    .search_but {
      width: 20%;
      background-color: rgb(47, 188, 235);
    }
  }
}

@media only screen and (min-width: 992px) {
  form {
    margin-right: 15%;
    margin-left: 15%;
  }

  .tab-bar {
    margin-left: 18%;
  }

  .search_but {
    background-image: $main-color;
  }

  .steps {
    margin-left: 15%;
  }

  .steps1 {
    width: 30%;
  }

  .steps-search {
    margin-right: 10%;
  }

  .steps-apply {
    margin-right: 10%;
  }

  .app_search_img {
    float: right;
    clear: both;
    margin-right: 10%;
  }

  .ap {
    height: 250px;
  }

  .sec-text {
    padding-top: 5%;
    width: 30%;
    margin-left: 15%;
  }
}

.works_but {
  background-color: $transparent-color;
  margin-left: 45%;
  margin-right: 45%;
}

.how_but {
  text-align: center;
}

.steps-title {
  text-align: center;
  color: $main-color;
}

.steps {
  text-align: center;
}

.ap_search {
  background-color: lightcoral;
  text-align: center;

  .app_search_img {
    border-radius: 50%;
  }
}

.ap_around {
  background-color: rgb(190, 190, 236);
  text-align: center;

  .app_search_img {
    border-radius: 50%;
  }
}

.around_but {
  color: rgb(190, 190, 236);
}

.ap_search_but {
  color: lightcoral;
}

.ap_convenient {
  background-color: rgb(177, 175, 175);
  text-align: center;

  .app_search_img {
    border-radius: 50%;
  }
}

footer {
  .footer-links {
    font-size: 10px;
    margin-right: 10%;
    margin-left: 10%;
  }

  .foot {
    text-align: center;
    width: 25%;
  }

  .sub-form {
    margin-left: 20%;
  }

  .foot-head {
    font-size: 15px;
  }

  .foot-text-bar {
    height: 20%;
  }

  .foot-but {
    height: 20%;
    background-color: grey;
  }

  .foot-par {
    font-size: 10px;
  }
}
