$main-color: rgb(210, 86, 73);
$transparent-color:  rgb(230, 220, 220);
$light-color: rgb(226, 127, 101);
$middle: center;

.main {
  margin-left: 5%;
  margin-right: 5%;
}

nav {
  background-color: $main-color;
  height: 120px;
}

.form-title {
  text-align: $middle;
}

.flings {
  width: 70%;
  text-align: $middle;
}

form {
  background: $transparent-color;
  margin-right: 4%;
  margin-left: 4%;
}

.form-class {
  text-align: $middle;
}

.light-r {
  position: absolute;
  width: 40%;
  padding-top: 10%;
  text-align: $middle;
  padding-left: 15%;
}

.pink {
  margin-left: 20%;
}

.light_back {
  width: 75%;
}

.main-form {
  padding-top: 100px;
  background-image: url("/assests/apartment.jpg");
  background-size: cover;
  height: 20%;

  .search_txt {
    height: 40px;
  }

  .search_but {
    background-color: $main-color;
    height: 40px;
  }

  .result-search {
    background-color: blue;
    height: 25px;
    margin-top: 10px;
  }

  .result-clear {
    background-color: orange;
    height: 25px;
    margin-top: 10px;
  }
}

.result {
  text-align: $middle;
}

@media only screen and (min-width: 768px) {
  .tab-bar {
    margin-left: 25%;
  }

  .light-r {
    width: 25%;
    padding-top: 12%;
    padding-left: 0;
  }

  .light_back {
    width: 90%;
    height: 250px;
    margin-top: 30px;
  }

  nav {
    height: 60px;
  }

  .main-form {
    form {
      margin-right: 15%;
      margin-left: 15%;
    }

    .search_txt {
      width: 80%;
    }

    .search_but {
      width: 20%;
      background-color: rgb(47, 188, 235);
    }

    .result-search {
      margin-top: 32px;
    }

    .result-clear {
      margin-top: 32px;
    }
  }

  .pink {
    margin-left: 0;
  }

  .flings {
    width: 45%;
    text-align: $middle;
  }
}

@media only screen and (min-width: 992px) {
  form {
    margin-right: 15%;
    margin-left: 15%;
  }

  .tab-bar {
    margin-left: 13%;
  }

  .search_but {
    background-color: $main-color;
  }

  .steps {
    margin-left: 15%;
  }

  .steps1 {
    width: 30%;
  }

  .steps-search {
    margin-right: 10%;
  }

  .steps-apply {
    margin-right: 10%;
  }

  .app_search_img {
    float: right;
    clear: both;
    margin-right: 10%;
  }

  .ap {
    height: 250px;
  }

  .sec-text {
    padding-top: 5%;
    width: 30%;
    margin-left: 15%;
  }
}

.flingstone_details {
  box-shadow: 3px 1px 3px 1px rgb(250, 235, 235);
}

.click {
  background-color: $transparent-color;
  height: 70px;
}

.works_but {
  background-color: $transparent-color;
}

.how_but {
  text-align: $middle;
  margin: auto;
  display: block;
}

.steps-title {
  text-align: $middle;
  color: $main-color;
}

.app_fling {
  color: $main-color;
}

.apply_but {
  background-color: blue;
  float: right;
  clear: both;
}

.cont {
  color: blue;
}

.steps {
  text-align: $middle;
}

.ap_search {
  background-color: $light-color;
  text-align: $middle;
}

.ap_around {
  background-color: rgb(152, 165, 166);
  text-align: $middle;
}

.around_but {
  color: rgb(152, 165, 166);
}

.ap_search_but {
  color: $light-color;
}

.ap_convenient {
  background-color: rgb(81, 156, 216);
  text-align: $middle;
}

footer {
  .footer-links {
    font-size: 10px;
    margin-right: 8%;
    margin-left: 8%;
    border-bottom: double 3px grey;
  }

  .foot {
    text-align: $middle;
    width: 25%;
  }

  .foot-1 {
    background-color: black;
  }

  .foot-2 {
    background-color: rgb(36, 36, 36);
    font-size: 12px;
    height: 70px;
    color: grey;
  }

  .foot-head {
    font-size: 15px;
  }

  .foot-text-bar {
    height: 20%;
    background-color: black;
    border: solid 1px white;
  }

  .foot-but {
    height: 20%;
    background-color: grey;
  }

  .foot-par {
    font-size: 10px;
  }
}

.map {
  margin: auto;
  display: block;
  width: 80%;
}

@media only screen and (max-width: 576px) {
  .dt-nav {
    display: none;
  }

  .foot-2,
  .pink {
    display: flex;
    flex-direction: column;
  }

  .contact_details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
